[submodule "extern/sqlgen"]
	path = extern/sqlgen
	url = https://github.com/getml/sqlgen.git
[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/reflect-cpp"]
	path = extern/reflect-cpp
	url = https://github.com/getml/reflect-cpp.git
